@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #000000;
    @apply font-inter;
    font-family: "Arial", "Helvetica", sans-serif;
    @apply bg-bg text-text; /* Tema terang */
  }

  .dark body {
    @apply bg-darkBg text-darkText; /* Tema gelap */
  }

  body::-webkit-scrollbar {
    width: 16px;
  }

  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
  }

  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
  }

  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
  }
}
